parameters:
    level:
        1

    paths:
       - Wbs

    ignoreErrors:
#        - '#Variable \$[a-zA-Z0-9\\_]+ in isset\(\) always exists and is not nullable.#'
# Ignore for Level2
#        - '#PHPDoc tag#'

